.main-image{
    text-align:center;
}
.menu{
    background: linear-gradient(deepskyblue,lightpink);
    /*background: linear-gradient(darkblue,hotpink);*/
    color:white;
}

.form-signin{
    max-width:330px;
    padding: 15px;
    margin: 0 auto;
}
.field{
    max-width:330px;
    padding: 15px;
    margin: 0 auto;
    font-size: 200%;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
/*!* Dropdown Button *!*/
.dropbtn {
    /*background: linear-gradient(lightpink,deepskyblue);*/
    /*background: linear-gradient(dodgerblue,hotpink);*/
    background-color:deepskyblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: deepskyblue;
    min-width: 77px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
a {
    color: white;
}
body {
    background: url("../images/1.jpg") top left/ 100% no-repeat;
}
/*!* Links inside the dropdown *!*/
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.back{
    background-color: deepskyblue;
}
/*!* Change color of dropdown links on hover *!*/
/*.dropdown-content a:hover {background-color: #337ab1}*/

/*!* Show the dropdown menu on hover *!*/
.dropdown:hover .dropdown-content {
    color: white;
    display: block;
    z-index: 2;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: pink;
    color: white;

}
.generic-container {
    width:80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}
.btn-danger{
     border:1px solid blueviolet;
     box-shadow: 0 0 20px blueviolet;
 }
.btn-danger:hover {
    background-color:blueviolet;
    border:1px solid blueviolet;
    /*box-shadow: 0 0 30px black;*/
}
table tr:nth-child(even) {
    background-color: lightblue;
}

table, tr, td, th {
    font:13pt Andale Mono, monospace;
    border:1px solid #E9E9E9;
    border-collapse:collapse;
}
td, th {
    padding:5px;
    text-align: center;
}
th {
    font-weight:bold;
    background-color:#E5E5E5;
}