<div class="container">
    <form class="form-signin center-block">
        <!--<h2 class="form-signin-heading">Please enter the flight number</h2>-->
        <input type="number"  class="form-control" placeholder="idAirport" ng-model="idAirport">
        <input type="number"  class="form-control" placeholder="idCompany" ng-model="idCompany">
        <input type="text"  class="form-control" placeholder="directionFrom" ng-model="directionFrom">
        <input type="text"  class="form-control" placeholder="directionTo" ng-model="directionTo">
        <input type="text"  class="form-control" placeholder="date" ng-model="date">
        <input type="text"  class="form-control" placeholder="time" ng-model="time">
        <input type="number"  class="form-control" placeholder="capacity" ng-model="capacity">
        <input type="number"  class="form-control" placeholder="price" ng-model="price">
        <button class="btn btn-lg btn-primary btn-block back" type="submit" ng-click="addFlight();"> Add </button>
    </form>
</div>

