<div class="container">
    <form class="form-signin center-block">
        <h2 class="form-heading">Book Ticket</h2>
        <input type="text" id="name" class="form-control" placeholder="Name" ng-model="name">
        <input type="text" id="surname" class="form-control" placeholder="Surname" ng-model="surname">
        <input type="text" id="idFlight" class="form-control" placeholder="Flight number" ng-model="idFlight">
        <button class="btn btn-lg btn-primary btn-block back" type="submit" ng-click="anonym_book();"> Book</button>
    </form>
</div>
