<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-heading "><span class="lead">My ticket </span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Flight number</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Date and Time</th>
                        <th>Place</th>
                        <th>Paid amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tickets" ng-if="item.place != null">
                        <td>{{item.idFlight}}</td>
                        <td>{{item.directionFrom}}</td>
                        <td>{{item.directionTo}}</td>
                        <td>{{item.departure}}</td>
                        <td>{{item.place}}</td>
                        <td>{{item.paidAmount}}</td>
                        <td><button type="button" ng-click="removeTicket(item.idTicket);" class="btn btn-danger custom-width back">Cancel booking</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>