<div class="container">
    <form class="form-signin center-block">
        <h2 class="form-signin-heading">Search</h2>
         <label for="direction_from" class="sr-only">From</label>
        <input type="text" id="direction_from" class="form-control" placeholder="from" ng-model="direction_from">
        <label for="direction_to" class="sr-only">To</label>
        <input type="text" id="direction_to" class="form-control" placeholder="to" ng-model="direction_to">
        <div ng-if="!canProceed" class="alert alert-danger" role="alert">
            <strong>Error!</strong>
        </div>
        <button class="btn btn-lg btn-primary btn-block back" type="submit" ng-click="findFlight();"> Search </button>
    </form>
</div>