<div class="container">
    <form class="form-signin center-block">
        <h2 class="form-signin-heading">Sing up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email">
        <label for="inputPassword" class="sr-only">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name" ng-model="name">
        <label for="inputPassword" class="sr-only">Surname</label>
        <input type="text" id="surname" class="form-control" placeholder="Surname" ng-model="surname">
        <label for="inputPassword" class="sr-only">Birth date</label>
        <input type="text" id="dob" class="form-control" placeholder="dob" ng-model="dob">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div ng-if="!canProceed" class="alert alert-danger" role="alert">
            <strong>Error!</strong>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signUp();"> Sign up </button>
    </form>
</div>